<p style="color: green"><%= notice %></p>

<%= render @food %>

<div>
  <% if request.path == user_foods_path(current_user) %>
    <%= link_to "Back to foods", user_foods_path %>
  <% else %>
    <%= link_to "Back to foods", foods_path %>
  <% end %>
</div>
